<!DOCTYPE html>
<html>
<head>
    <title>UDBraaains Orders</title>
    <style type="text/css" media="screen">
        body { font-family:trebuchet ms, verdana, sans-serif; color: #bcb; background-color: #565; }
        a { color:#f99; text-decoration:none; }
        a:visited { color:#c99; }
	h1 { padding-bottom: 0; margin-bottom: 0; }
	h2 { padding-top: 0; margin-top: 0; font-size: small; }
    </style>
</head>
<body>
    <div id="news">
        {% for order in orders %}
        <div id="newsitem">
            <h1>{{ order.subject }} [{{ order.x }}, {{ order.y }}] in {{ orders.striketime|timeuntil }}</h1>
            <h2>Posted {{ order.date|timesince }} ago by {{ order.user.username }}</h2>
            {{ order.message|linebreaks}}
        </div>
        {% endfor %}
    </div>
    <div id="moreinfo">
        <p>For more information, please visit <a href="http://forums.somethingawful.com/showthread.php?threadid=3400878">the current PGS thread.</a></p>
    </div>
</body>
</html>
