<!DOCTYPE html>
<html>
<head>
    <title>UDBraaains Orders</title>
    <style type="text/css" media="screen">
        #news { font-family:trebuchet ms, verdana, sans-serif; color: #bcb; background-color: #565; }
        #news a { color:#f99; text-decoration:none; }
        #news a:visited { color:#c99; }
	    #news h1 { padding-bottom: 0; margin-bottom: 0; }
	    #news h2 { padding-top: 0; margin-top: 0; font-size: small; }
    </style>
</head>
<body>
    {% if slamjam %}
    <iframe width="640" height="480" src="http://www.youtube.com/embed/lWKQiZVBtu4?autoplay=1&amp;rel=0" frameborder="0" allowfullscreen></iframe>
    {% else %}
    <div id="news">
        {% for order in orders %}
        <div class="newsitem">
            <h1>{{ order.subject }} [{{ order.x }}, {{ order.y }}]{% if order.striketime %} in {{ order.striketime|timeuntil }}{% endif %}</h1>
            <h2>Posted {{ order.date|timesince }} ago by {{ order.user.username }}</h2>
            {{ order.message|linebreaks}}
        </div>
        {% endfor %}
    </div>
    <div id="moreinfo">
        <p>For more information, please visit <a href="http://forums.somethingawful.com/showthread.php?threadid=3415090" target="_blank">the current PGS thread.</a></p>
    </div>
    {% endif %}
</body>
</html>
